:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #d9d6cc; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       rgb(64, 69, 78); /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #353a44; /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --swatch-text:          #e9edf0; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */ 
    --swatch-text-accent:   #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --font-primary:         'Consolas'; 
}

#grid-container {
    background-color: var(--swatch-foundation);
    font-family: var(--font-primary);
    color: var(--swatch-text);
}


.grid-item {
    background-color: var(--swatch-primary);
}


#navbar {
    box-shadow: 2px 3px 2px #636363;
}

#left-sidebar {
    background-color: var(--swatch-complement);
    color: rgb(233,237,240);
    text-align: center;
}

#workspace {
    background-color: var(--swatch-primary);
    color: rgb(233,237,240);
}

#title-div {
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 14pt;
}

#left-sidebar-header {
    border-bottom: 2px dotted;
}


#todo-list-table-header {
    border-bottom: dotted;
}

.list-header-card {
    border-bottom: 2px dotted;
}

.list-item-card {
    border-bottom: 1px solid;
}

/* my thing*/
.input-fields {
    font-family: var(--font-primary);
    color: var(--swatch-text);
    font-style: normal; 
    font-weight: 700; 
    font-size: 16px; 
}

/* my thing*/
.list-item-card:hover {
    background-color: #5c6066;
}


.todo_button {
    cursor:pointer;
    background-color: var(--swatch-complement);
}

.todo_button:hover {
    background-color: var(--swatch-primary);
}

.todo_button_grid {
    cursor:pointer;
    background-color: var(--swatch-primary);
}

.todo_button_grid:hover {
    background-color: #5c6066;
}
