html, body {
    margin: 0;
    height: 100vh;
}

#grid-container {
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100vh;
    display: grid;
    padding: 0.5%;
    grid-template-rows: 4% 93%;
    grid-template-columns: 17% 80%;
    row-gap: 1%;
}

#navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

#left-sidebar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#left-sidebar-header {
    height: 50px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;

}

#left-sidebar-header-text { 
}

.list-item{
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#left-sidebar-controls {
    text-align: right;
}

#workspace {
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
}

#todo-list-items-div{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.list-item-card {
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.list-header-card {
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}


.task-col {
    display: flex;
    width:25%;
    align-items: center;
}

.due-date-col {
    display: flex;
    width:25%;
    align-items: center;
}

.status-col {
    display: flex;
    width:25%;
    align-items: center;
}

.list-controls-col {
    width:25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-item-control {
    display: flex;
    width: 20%;
    align-items: center;
}